{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Şifreni değiştir' %}</h4>

    {% if validlink %}

        <p>
            {% trans 'Lütfen yeni şifrenizi iki kez giriniz.' %}
        </p>

        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-success">{% trans 'Değiştir' %}</button>

        </form>

    {% else %}

        <div class="alert alert-danger">
            {% trans 'Şifre değiştirme bağlantınız geçersiz, lütfen yeni bağlantı talep ediniz.' %}
        </div>

    {% endif %}

{% endblock %}
